@model ProyectoLenguajes.Models.StatusTimeConfig

@{
    ViewData["Title"] = "Configurar tiempo entre estados";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="Upsert" method="post">
    <div class="form-group">
        <label asp-for="MinutesPerStatusChange" class="control-label"></label>
        <input asp-for="MinutesPerStatusChange" class="form-control" />
        <span asp-validation-for="MinutesPerStatusChange" class="text-danger"></span>
    </div>

    <input type="hidden" asp-for="Id" />

    <div class="form-group mt-3">
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
